<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Kirang+Haerang|Roboto|Special+Elite" rel="stylesheet">
		<title>Eat-Da-Burger!</title>
		{{!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> --}}
		<script type="text/javascript" src="js/jquery.min.js" onload="window.$ = window.jQuery;"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
