<h1>Eat-Da-Burger</h1>
 <div id="burgerImage"><img src="/assets/img/burger.png" alt="burger"></div> 

<div id="eat">
<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} Devour It!{{/if}}</button>
</li>

  <div class="form-group" id="devouredRadio">
    <label for="devoured">devoured</label><br>
    <input type="radio" name="devoured" value="1" checked> Devour It!<br>
    <input type="radio" name="devoured" value="0"> Eat
  </div>
</div>
<div id="devoured"></div>
<h2>Add a Burger</h2>
<form class="create-form">

 <div class="form-group">
    <label for="bn" id="entry">Burger Name:</label>
    <input type="text" id="bn" name="burger_name">
  </div>



 <button type="submit" id="submitButton">Submit</button>
</form>
